<p>I saved you; I saved this city and I all your worthless lives. I should have let Stannis kill you all.</p>
<p>Yes, father. I'm guilty. Guilty, is that what you want to hear?</p>
<p>No, of that I'm innocent. I am guilty of a far more monstrous crime.</p>
<p>I am guilty of being a dwarf. I've been on trial for that my entire life.</p>
<p>Have you nothing to say in your defense? nothing but this——I did not do it.</p>
<p>I did not kill Joffrey but I wish that I had.</p>
<p>I wish I was the monster you think I am. I wish I had enough posion for the whole pack of you. I would gladly give my life to watch you all swallow it.</p>
<p>I will not give my life for Joffrey's murder. Let the gods decide my fate. I demand a trial by combat.</p>