:host {
    height: 80px;
    display: block;
    color: #333;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}

div.left {
    margin-right: 200px;
}

div.right {
    float: right;
}

p.title {
    font-size: 18px;
    margin-bottom: 20px;
}

p.desc {
    color: #666;
    font-size: 14px;
}

p.info {
    font-size: 14px;
    color: #888;
}

p.info span {
    margin-right: 10px;
}